@charset "utf-8";
/* CSS Document */


/* General css */
@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  font-style: normal;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::selection {
  background: #82cdc6;
  color: #fff;
}
::-moz-selection {
  background: #82cdc6;
  color: #fff;
}

body {
  background-color: #fff;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.wrap {
  margin: 0 auto;
  width: 70%;
}

#branding {
  display: block;
  height: 80px;
  margin: 0 auto 60px auto;
  width: 348px;
}

#branding h1 {
  display: none;
  text-indent: -999px;
}

#branding img {
  display: block;
  margin: auto 0;
  width: 348px;
  
}

h2 {
  color: #4c5662;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 48px;
  font-weight: normal;
  line-height: 1.2;
  text-align: center;
}

.secondary h2:after {
  background-color: #dcdedf;
  content: "";
  display: block;
  height: 1px;
  margin: 25px auto 50px auto;
  width: 200px;
}

p {
  color: #7c848c;
  font-size: 18px;
  line-height: 2;
}

.blue {
  background-color: #e6eaed;
  border-bottom: 1px solid #c9ced2;
  border-top: 1px solid #c9ced2;
}

.divider {
  background-color: #c9ced2;
  height: 1px;
  margin: 50px auto;
  position: relative;
  width: 30%;
}

.divider:before {
  background: #e6eaed no-repeat 50% top;
  content: "";
  height: 8px;
  left: 50%;
  margin-left: -24px;
  position: absolute;
  top: -3px;
  width: 48px;
}


/* Header */
#header {
  background-color: #4c5662;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 9px;
  left: 0px;
}

#header.expanded {
  -moz-transition: top 0.3s ease;
  -webkit-transition: top 0.3s ease;

  top: 0;
  transition: top 0.3s ease;
}


/* Sections */
section {
  overflow: hidden;
  padding: 30px 0;
}

.column {
  display: inline-block;
  text-align: center;
  width: 50%;
}

.column.first {
  margin-right: -5px;
}

#intro {
  border-top: none;
  padding-top: 110px;
}

#intro h2 {
  font-size: 86px;
}

#intro p,
#about p {
  margin: 0 auto;
  text-align: center;
  width: 70%;
}


/* About */
#about p {
  margin-bottom: 25px;
}

#about p a {
  color: #4c5662;
}

#profiles {
  margin: 50px 0;
}

.profile .first {
  padding-left: 100px;
}

.profile .last {
  padding-right: 100px;
}

.profile img {
  display: block;
  margin: 0 auto 10px auto;
}

.profile h3 {
  color: #4c5662;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
}

.profile a {
  color: #7c848c;
  font-size: 16px;
}


/* Footer */
footer {
  background-color: #4c5662;
  padding: 100px 0;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

footer li {
  display: inline-block;
  margin: 0 55px;
}

footer a {
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;

  color: rgba(255, 255, 255, 0.6);
  transition: all 0.2s linear;
}

footer li a {
  padding-left: 30px;
}

footer a:hover {
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;

  color: #fff;
  transition: all 0.2s linear;
}

footer .email a {
  background: transparent url no-repeat left center;
}
footer .linkedin a {
  background: transparent url no-repeat left center;
}


footer p {
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  line-height: 1.75;
  margin: 75px auto 0 auto;
  text-align: center;
  width: 60%;
}

.email {
-moz-transition: all 0.2s linear;
-webkit-transition: all 0.2s linear;
color: rgba(255, 255, 255, 0.6);
transition: all 0.2s linear;
}

.btn {
margin-top: 5px;
margin-bottom: 5px;
margin-left: 350px;
color: #333333;
background-color: #ffffff;
border-color: #cccccc;
display: inline-block;
padding: 6px 30px;
margin-bottom: 0;
font-family: 'Roboto';
font-size: 14px;
font-weight: normal;
line-height: 1.428571429;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
border: 1px solid transparent;
border-radius: 0px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
background-image: none;
}

.inputbox{
	border: 2px solid #4d5763;
	padding: 10px;
	font-family: 'Roboto';
	margin-bottom: 15px;
	width: 300px;
}

.req{
	color: rgba(255, 255, 255, 0.6);
}

.msg{
	vertical-align: top;
}

textarea{
	font-family: 'Roboto';
	width: 150px;
}

#contact-form{
	margin-top: 50px;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

label{
	display: block;
	width: 140px;
	float: left;
	text-align: right;
}

.controls{
	margin-left: 145px;
	display: block;
}


input:required:invalid, input:focus:invalid {
    color: red;
}

.parsley-error-list {
    color: rgba(255, 255, 255, 0.4);
    position: relative;
    left: -64px;
    display: block;
    z-index: 20;
    top: -17px;
    font-family: "Roboto";
    font-size: 14px;
}

@media only screen and (max-width: 1180px) {

    #profiles {
        width: 300px;
        margin: 0px auto;
    }

    .column {
        display: block;
        width: 300px;
        padding: 0px;
        margin: 0px;
    }

    .last {
        padding-right: 0px;
        margin-top: 50px;
    }
}





